@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;1,200&family=Playfair+Display:wght@400;600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body, html {
	min-height: 100%;
	width: 100%;
}

body {
  position: relative;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 18px;
  background-color: hsla(250, 10%, 12%, 1);
  width: 100%;
  min-height: 100vh;
}

button {
  background-color: transparent;
}

.container {
  background: url(../images/pexels-photo-4082638.jpeg);
  background-position: top;
  background-size: cover;
  min-height: 100vh;
  margin: 30px auto;
}

.content {
  max-width: 1064px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
}

.main > .btn--del {
  display: none;
}

.main {
  flex: 1;
  margin-bottom: 30px;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  padding: 20px;
  width: 100%;
  background-image: linear-gradient(
		70deg,
		#333C83 45%, /* font color */
		#A91079 50%,
		#333C83 55% /* font color */
	);
	background-size: 500% 100%;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	animation: shine 3s infinite;
}

.open--btn {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 200;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  transition: all .7s ease-in-out;
  padding: 5px 10px;
  border-radius: 5px;
  color: #333C83;
  display: block;
  margin: auto;
}

.open--btn:hover {
  background-color: #A91079;
  color: #f8f8f8;
}

.window-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
}

.window-overlay.show {
  opacity: 1;
  visibility: visible;
}

.window {
  width: 50%;
  position: absolute;
  background-color: white;
  /*display: block;
  /* height: 20vh; */
  z-index: 10;
  left: 50%;
  top: 10%;
  transform: translate(-50%,0);
  border-radius: 10px;
  margin: auto;
  padding: 20px;
}

.window__title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
  color: black;
}

.close--btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  transition: all 0.5s ease-out;
}

.close--btn:hover {
  color: red;
}

.search__box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.search__box input[type="text"] {
  width: 60%;
  padding: 6px 10px;
  font-family: 'IBM Plex Serif', serif;
  font-weight: 300;
  font-size: 110%;
  border: 1px solid #333C83;
  border-radius: 12px;
}

.search__box input[type="text"]:focus {
  border: 1px solid #A91079;
  outline: none;
}

.search__box .search--icon {
  margin-left: -30px;
  color: #333C83;
}

.search__box input[type="text"]:focus ~ .search--icon {
  color: #A91079;
}

.cities__list {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 200;
  height: 50vh;
  margin-top: 20px;
  overflow: auto;
  border-radius: 10px;
}

.cities__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 8px 15px;
  background-color: #dedfe3;
  border-bottom: #2A2525 1px solid;
  cursor: pointer;
}

.cities__item:hover {
  background-color: #333C83;
  color: white;
}

.cities__list::-webkit-scrollbar {
  width: 15px;
}

.cities__list::-webkit-scrollbar-thumb{
  background-color: #333c83c4;
  border-radius: 5px;
}

.cities__list::-webkit-scrollbar-track{
  background-color: #efefef;
}

.clock__dashboard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
}

.clock__dashboard--item {
  width: 300px;
  background-color: #333C83;
  border-radius:10px;
  padding: 10px;
  margin-left: 20px;
  margin-top: 50px;
  position: relative;
  color: white;
  box-shadow: 1px 1px 15px #333C83;
  position: relative;
}

.btn--del {
  cursor: pointer;
  border: none;
  font-size: 1.5rem;
  color: #efefef;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all .5s ease-in;
}

.btn--del:hover {
  color: red;
}

.clock__dashboard--country {
  font-size: 1.5rem;
  text-transform: capitalize;
  text-overflow: ellipsis;
  font-weight: 300;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 25px;
}

.clock__dashboard--time {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  gap: 10px;
  font-weight: 600;
  font-size: 2rem;
}

.clock__dashboard--date {
  font-size: 1.1rem;
  font-weight: 400;
}

footer {
  margin-bottom: 30px;
  align-self: center;
}

.text {
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 4s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255,255,255,.01);
}

.social--icon {
  width: 30px;
  height: 30px;
  margin: auto;
  display: block;
}

@keyframes animate {
  0% {
      background-position: -500%;
  }
  100% {
      background-position: 500%;
  }
}

@keyframes shine {
	0% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}